
#discord ids

PREFIX = 'the_bot's_prefix_for your server comes here'

#token for FRIDAY
DISCORD_TOKEN = 'Your_Discord_Bot_Token_comes_here'



#reddit id's

#client_id for reddit
CLIENT_ID = 'Your_Reddit_client_id_comes_here'

#client_secret for reddit
CLIENT_SECRET = 'Your_Reddit_client_secret_comes_here'

#user_agent for reddit
USER_AGENT = 'Your_Reddit_user_agent_comes_here'